# The deployed LaunchpadFactory contract address
NEXT_PUBLIC_LAUNCHPAD_FACTORY_ADDRESS=0x12a20423c79e23827354470f88Ac9E6B3bfffd04

# Your WalletConnect Project ID (get one at cloud.walletconnect.com)
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=044601f652123329241917616d549d63
